<?xml version="1.0" encoding="UTF-8"?>
<configuration>


	<property name="LOG_LEVEL" value="DEBUG" />
	<property name="LOG_DIR" value="/logs/user_bot/" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<param name="Target" value="System.out" />
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%thread] %-5p: %c - %m%n
			</pattern>
		</encoder>
	</appender>

	<appender name="dailyRolling"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent> 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/bot-%d{yyyyMMdd-HH}.log</fileNamePattern>
			<maxHistory>720</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%thread] %-5p: %c - %m%n</pattern>
		</encoder>
	</appender>


	<logger name="com.feelingk.bot" level="${LOG_LEVEL}">
		<appender-ref ref="dailyRolling" />
	</logger>

	<logger name="org.springframework" level="DEBUG">
		<appender-ref ref="dailyRolling" />
	</logger>

	<logger name="org.mybatis" level="${LOG_LEVEL}">
		<appender-ref ref="dailyRolling" />
	</logger>


	<root level="DEBUG">
		<appender-ref ref="console" />
	</root>

</configuration>